.swiper {
    width: 100%;
    height: 100%;
  }
  
.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;

/* Center slide text vertically */
display: flex;
justify-content: center;
align-items: center;
}

.swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}

.swiper-button-next, .swiper-button-prev{
    color: #fff;
    font-size: 20px !important;
    font-weight: 500 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    min-width: 45px;
    min-height: 45px;
}

.swiper-button-next:after, .swiper-button-prev:after{
    font-size: 20px !important;
    font-weight: 500 !important;
    color: #000 !important;
}
