@import "tailwindcss";


*{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    background: #f5f0f0;
}

.container {
 width: 98%;
 margin: auto;
}

.bg-org{
    background: #ff5225;
}

.css-1y8627i-MuiBadge-badge {
    background: #ff5225 !important;
}