@import "tailwindcss";


*{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    background: #fbf6ec;
}

/* make a custom scrollbar for the site */
::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
}

::-webkit-scrollbar-thumb {
    background: #ccc !important;
    border-radius: 10px !important;
}

::-webkit-scrollbar-track {
    background: #fff !important;
    border-radius: 10px !important;
}
::-webkit-scrollbar-thumb:hover {
    background: #ff5225 !important;
}

.container {
 width: 98%;
 margin: auto;
}

.bg-org{
    background: #ff5225;
}

.css-1y8627i-MuiBadge-badge {
    background: #ff5225 !important;
}